body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px #ccc;
}

h2 {
	margin-top: 0;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}

.price {
	font-size: 1.5rem;
	color: #f00;
}

form {
	margin-bottom: 20px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #555;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.search-form {
	display: flex;
	align-items: center;
  }
  
  /* Style the input field */
.search-input {
	padding: 8px;
	border: none;
	border-radius: 20px;
	outline: none;
	font-size: 16px;
	background-color: #f2f2f2;
	width: 200px;
  }
  
  /* Style the search button */
.search-button {
	padding: 8px;
	border: none;
	border-radius: 20px;
	margin-left: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #333;
	cursor: pointer;
  }
  
  /* Style the search button on hover */
.search-button:hover {
	background-color: #555;
  }
