<main>
    <section class="banner">
        <h1>Welcome to Costumes 'R' Us!</h1>
        <p>Shop the latest superhero costumes and apparel.</p>
        <p>Not sure what to get? Take this <a href="QuizPage.html">Quiz!</a></p>
    </section>
    <section class="products">
        <h2>Featured Products</h2>
        <div class="product">
            <img src="https://media.simcosplay.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/i/r/iron-man_suit_1_.jpg" style="width:20%" alt="Product 1">
            <h3>Iron Man Spandex</h3>
            <p>
                <br> Character: Iron man
                <br> Material: Spandex etc.
                <br> Full Set Includes: Jumpsuit, Foot pad(extra options)</p>
            <p>Choose a size:</p>
            <form>
                <input type="radio" name="size" value="small" id="small">
                <label for="small">Small</label>
                <input type="radio" name="size" value="medium" id="medium">
                <label for="medium">Medium</label>
                <input type="radio" name="size" value="large" id="large">
                <label for="large">Large</label>
            </form>
            <span>$199.99</span>
            <form action="IronManSuitPage.html">
                <button>Go to page</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="product">
            <img src="https://www.ccosplay.com/image/cache/catalog/product/B2008/4579/new01-800x800.jpg" style="width:20%" alt="Product 2">
            <h3>Batman Dark Knight Suit</h3>
            <p>Characters: Robert Pattinson
                <br>
                Material: Spandex Leather, Fiber Leather, Roman Cloth, Twill, Composite Leather, Artificial Leather, Etc.
                <br>
                Full Set Including: Vests, Jumpsuit, Armors, Gloves, Decorative Pendant, Arm Guards, Bracer, Accessories, Belts+Holster, Bat Logo, Boots Cover
                <br>
                Extra Options: Mask, Short Mask, Shoes</p>
            <p>Choose a size:</p>
            <form>
                <input type="radio" name="size" value="small" id="small">
                <label for="small">Small</label>
                <input type="radio" name="size" value="medium" id="medium">
                <label for="medium">Medium</label>
                <input type="radio" name="size" value="large" id="large">
                <label for="large">Large</label>
            </form>
            <span>$199.99</span>
            <form action="BatmanSuitPage.html">
                <button>Go to page</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/61SW8b7iWlS._AC_UY741_.jpg" style="width:20%" alt="Product 3">
            <h3>Man of Steel Superman Suit</h3>
            <p>Polyester
                Hand Wash Only
                <br>
                【Excellent Performance】Inspired by well-known superhero cosplay costume well made outfit for men and women.
                <br>
                【Fine Workmanship】Material:Polyester.
                <br>
                【Occasion】 Perfect for dress-up party, Halloween, themed birthday parties, cosplay conventions, costume contests, parade,role play party and other events.
                <br>
                【Washing Instruction】Hand wash recommended.</p>
            <p>Choose a size:</p>
            <form>
                <input type="radio" name="size" value="small" id="small">
                <label for="small">Small</label>
                <input type="radio" name="size" value="medium" id="medium">
                <label for="medium">Medium</label>
                <input type="radio" name="size" value="large" id="large">
                <label for="large">Large</label>
            </form>
            <span>$199.99</span>
            <form action="SupermanSuitPage.html">
                <button>Go to page</button>
            </form>
        </div>
    </section>
</main>